body {
    background-color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background_mentalista.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.title h1 {
    font-size: 5vw;
    color: white;
    text-align: center;
    margin-top: 6vw;
    font-family: 'Righteous';
}

.title h2 {
    font-size: 15px;
    color: white;
    text-align: center;
    margin: 3vw;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects {
    flex: 1;
    text-align: center;
    position: relative;
}

.projects img {
    filter: brightness(0.7);
    border-radius: 20px;
    max-width: 90%;
    height: auto;
    margin: 1vw;
}

.info {
    position: absolute;
    bottom: -2vw;
    left: 1.6vw;
    right: 1.6vw;
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 1vw;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .title h1 {
        font-size: 6vw;
    }

    .title h2 {
        font-size: 2.7vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects {
        margin-bottom: 20px; 
        text-align: center;
    }

    .projects img {
        max-width: 95%;
    }

    .info {
        background-color: rgba(0, 0, 0, 0.92);
        left: 2vw;
        right: 2.2vw;
        color: white;
        padding: 1vw;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
    }
}
